<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Movement Australia" %></title>
    <link rel="stylesheet" href="https://use.typekit.net/xyl4dix.css">
    <script src="https://kit.fontawesome.com/c334506879.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "styles" %>
    <%= javascript_include_tag "site" %>
    <link rel="icon"       type="image/png" 
      href="/imgs/favicon.png">

    <!-- js from recaptcha google -->
    <script src="https://www.google.com/recaptcha/api.js"></script>
   
    <!-- JS for modal
    <script>
       function onSubmit(token) {
         document.getElementById("mda_contact").submit();
       }
     </script> -->
    </head>
  
  <body>
    
    <%= partial "partials/header" %>
    <%= yield %>
    <%= partial "partials/footer" %>

    <div class="site-notice">
      <ol>
        <li><a href="http://localhost:4567/index.html"><i class="fas fa-home"></i></a></li>
        <li><li><a href="#" id="btnOpen" style="color:white;"><i class="fab fa-angellist"></i></a></li></li>
        <li><a href="test-page.html"><i class="fas fa-flask"></i></a></li>


        
      </ol>
    </div>

  </body>
</html>
