<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Movement Australia" %></title>
    <link rel="stylesheet" href="https://use.typekit.net/xyl4dix.css">
    <script src="https://kit.fontawesome.com/c334506879.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "styles" %>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177434622-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-177434622-1');
    </script>

    
<!-- this one deployed -->
    <link rel="icon" type="image/png" href="/imgs/favicon.png">

    <!-- API from recaptcha google -->
    <script src="https://www.google.com/recaptcha/api.js"></script>

    <!-- js from google -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  </head>
  
  <body>
    
    <%= partial "partials/header" %>
    <%= yield %>
    <%= partial "partials/footer" %>

    <!-- <div class="site-notice">
      <ol>
        <li><a href="/index.html"><i class="fas fa-home"></i></a></li>
        
        <li><a href="./test/test-page.html"><i class="fas fa-flask"></i></a></li>
        <li><a href="/uh-oh.html" title="Preview 404"><i class="fas fa-info-circle"></i></a></li>
        <li><a href="/thanks-contact.html" title="Preview 'Thanks for your message' page"><i class="fas fa-hands-helping"></i></a></li>
        <li><a href="/thanks-subscribe.html" title="Preview 'Thanks for Subscribing' page" style="color:pink;"><i class="fas fa-hands-helping"></i></a></li>
        
      </ol>

    </div> -->
    <%= javascript_include_tag "site" %>
    <%= javascript_include_tag "email_signup" %>



  </body>
      <script type="application/ld+json">
     { "@context": "https://schema.org",
     "@type": "Organization",
     "name": "Movement Australia",
     "legalName" : "Movement Australia",
     "url": "http://www.movement.org.au",
     "logo": "http://www.movement.org.au/imgs/logo.png",
     "foundingDate": "2018",
     
     "address": {
     "@type": "PostalAddress",
     "streetAddress": "PO Box 2216",
     "addressLocality": "Toowoomba",
     "addressRegion": "QLD",
     "postalCode": "4350",
     "addressCountry": "Australia"
     },
     "contactPoint": {
     "@type": "ContactPoint",
     "contactType": "customer support",
     "telephone": "[+617 4637 8244]",
     "email": "contact@movement.org.au"
     },
     "sameAs": [ 
     
     "https://www.facebook.com/MDayAus",
     "https://www.instagram.com/MDayAus",
     ]
   }
    </script>
</html>
