<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Movement Australia" %></title>
    <link rel="stylesheet" href="https://use.typekit.net/xyl4dix.css">
    <script src="https://kit.fontawesome.com/c334506879.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "styles" %>
    
    <link rel="icon" type="image/png" href="/imgs/favicon.png">

    <!-- js from recaptcha google -->
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  </head>
  
  <body>
    
    <%= partial "partials/header" %>
    <%= yield %>
    <%= partial "partials/footer" %>

    <div class="site-notice">
      <ol>
        <li><a href="/index.html"><i class="fas fa-home"></i></a></li>
        <li><li><a href="#" title="Show popup" id="btnOpen" style="color:white;"><i class="fab fa-angellist"></i></a></li>
        <li><a href="/test-page.html"><i class="fas fa-flask"></i></a></li>
        <li><a href="/uh-oh.html" title="Preview 404"><i class="fas fa-info-circle"></i></a></li>
        <li><a href="/thanks-contact.html" title="Preview 'Thanks for your message' page"><i class="fas fa-hands-helping"></i></a></li>
        <li><a href="/thanks-subscribe.html" title="Preview 'Thanks for Subscribing' page" style="color:pink;"><i class="fas fa-hands-helping"></i></a></li>
        
      </ol>
      
      
    </div>
<%= javascript_include_tag "site" %>
  </body>
</html>
