
  <section class="hero">
  <div class="container">
    <div class="main-message">
      <h1> Learn <i class="fas fa-arrow-down"></i></h1>
    </div>
  </div>
</section>

<!-- this Helper is used for Contentful -->
<% posts = all_posts %>

<section>
  <div class="post_share">
    <ul><code>remove on mobile</code>
      <li><h3>Share</h3></li>
      <li><i class="fab fa-facebook"></i></li>
      <li><i class="fas fa-envelope"></i></li>
      <li><i class="fab fa-linkedin-in"></i></li>
    </ul>
  </div>
  <div class="container">
    <div class="post_content">
      <h3>Learn/<%= post.tags %></h3>
      <div class="post_img bg-center-center" style="background-image: url('<%= post.hero_image.url %>')">
      </div>
    </div>
        
      <h3><%= post.tags %></h3>
      <h2><%= post.title %></h2>
      <p><%= post.excerpt %></p>
      <h4><%= post.author %></h4>

      <div class="border_box post_content">
     
        <code>move red box down, words to wrap above and below</code>
        <div class="post_subscribe">
          <h2>Download our vision book</h2>
          <div>
            <form>
              <code>set up form action</code>
              <input type="text" name="eame" placeholder="First Name">
              <input type="Email" name="email" placeholder="Email">
              <button class="btn-white" name="subscribe">Subscribe</button>
            </form>
          </div>
        </div>

        <div class="content">
          <%= Markdown.new(!post.content.nil? ? post.content : "").to_html %>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="post_related">
  <div class="container">
    <div class="post_related">
      	<code>	tagged with current category. _TC
      	</code>
    	<h2>Related</h2>
    	<div class="post_related_items">
          <% posts.take(4).each do |index, post| %>
            <div class="post_related_item">
              <%= partial "partials/post_list_item_related", :locals => { :post => post, :include_excerpt => false } %>
            </div>
          <% end %>
        </div>

    </div>
  </div>
</section>