
  <section class="hero">
  <div class="container">
    <div class="main-message">
      <h1> Learn <i class="fas fa-arrow-down"></i></h1>
    </div>
  </div>
</section>

<!-- this Helper is used for Contentful -->
<% posts = all_posts %>

<section>
  <!-- INSERT SHARE BOX HERE -->

    <div class="post_share_container">
      <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fmda20002v4.netlify.app/learn/blog/<%= post.slug %>.html&layout=button&size=small&appId=115296581825185&width=67&height=20" width="67" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

      <div class="post_share">
      <h3>Share</h3>
      <ul>
        <li>
          <a 
          target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmovement.org.au/learn/blog/learn/blog/<%= post.slug %>.html">
          <i class="fab fa-facebook-f"></i></a></li>
        <li>
          <a href="mailto:admin@movement.org.au">
          <i class="fas fa-envelope"></i></a></li>
        <li></li>
      </ul>
    </div>

</div>
  <div class="container">
    <div class="">
      
      <% if (!post.tags.nil?) %> 
        <h3>Learn/<% post.tags.take(1).each do |tag| %><%= tag %>
        <% end %>
        </h3>
      <% end %>
      <div class="post_img bg-center-center" style="background-image: url('<%= post.hero_image.url %>')">
      </div>
    
    </div>
    
    <h2><%= post.title %></h2>
    <p><%= post.excerpt %></p>
    <h4><%= post.author %></h4>

    <div class="border_box post_content">
   
      
<div class="wrap_post_subscribe floatRight"> 
          <div class="post_subscribe">
            
            <h2>Download our vision book</h2>
            <div>
              <form name="Subscribe (Blog)" action="/thanks-subscribe.html" method="POST" data-netlify="true">
                
                <input type="text" name="eame" placeholder="First Name">
                <input type="Email" name="email" placeholder="Email">
                <button class="btn-white" name="subscribe">Subscribe</button>
              </form>
            </div>
          </div>
        </div>

      <div class="content">
        <%= Markdown.new(!post.content.nil? ? post.content : "").to_html %>
      </div>
      </div>
    </div>
  </div>
</section>

<section id="post_related">
  <div class="container">
    <div class="post_related">
    	<h3>Recent</h3>
    	<div class="post_related_items">
          <% posts.take(4).each do |index, post| %>
            <div class="post_related_item">
              <%= partial "partials/post_list_item_related", :locals => { :post => post, :include_excerpt => false } %>
            </div>
          <% end %>
        </div>

    </div>
  </div>
</section>


