
<div class="blog_post">

  <div class="blog_text" >

<% if (!post.tags.nil?) %> 
    <h3>
      <% post.tags.each do |tag| %>
        <span><%= tag %></span>
      <% end %>
    </h3>
<% end %>





    <code>[1] post.tags code is bringing unwanted characters</code><br><code>[2] post.tags is only bringing through 'Story'</code>

    <h2><a href="/learn/<%= post.slug %>.html"><%= post.title %></a></h2>
    

    <!-- tims content pulling in EXCERPTS -->
    <% if include_excerpt %>
    <%= Markdown.new(!post.excerpt.nil? ? post.excerpt : "").to_html %>
    <% end %>
    <a href="/learn/<%= post.slug %>.html"><button>Read More <i class="fas fa-chevron-right"></i></button></a>
  </div>  <!-- end overview -->


  <div class="blog_image">
    <code>image to 16x9</code>
    <a href="/learn/<%= post.slug %>.html">
    <%= image_tag post.hero_image.url + "?w=700&h=460&fit=thumb" %>
    </a>
  </div>
  
  

</div> <!-- end post -->
