<div class="person"> 
  <div class="photo">
    <%= image_tag person.photo.url + "?w=460&h=460&fit=thumb" %>
  </div>
  
  <div class="overview">
    
    <% if !person.location.blank? %>
      <span class="city"><%= person.location %></span>
    <% end %>
    <h4><%= person.name %></h4>
    <p><%= person.full_biography %></p>
    <ul class="team_socials">
    	<li><a href="<%= person.facebook %>"><i class="fab fa-facebook"></i></a></li>
    	<li><a href="<%= person.website %>"><i class="fas fa-link"></i></a></li>
    	<li><a href="mailto:<%= person.email %>"><i class="fas fa-envelope"></i></a></li>
    </ul>
  </div>  
</div>


