
<div class="">

  <div class="post_img3 bg-center-center" style="background-image: url('<%= post.hero_image.url %>')">  
    <a href="/learn/blog/<%= post.slug %>.html"></a>
  </div> 

  <div id="post_text">
    <h6><i class="far fa-calendar-alt"></i> <%= post.post_date.day %> <%= Date::MONTHNAMES[post.post_date.month] %> <%= post.post_date.year %></h6>
    
    <!-- <h6><i class="far fa-user"></i> </h6> -->
    
    <h2><a href="/learn/blog/<%= post.slug %>.html"><%= post.title %></a></h2>
  

  <div>
    <!-- tims content pulling in EXCERPTS -->
    <% if include_excerpt %>
    <%= Markdown.new(!post.excerpt.nil? ? post.excerpt : "").to_html %>
    <% end %>
    
    <a href="/learn/blog/<%= post.slug %>.html"><button class="btn-white">Read More <i class="fas fa-chevron-right"></i></button></a>
  
  </div>  <!-- end overview -->

</div>
</div> <!-- end post -->
