<section>
	<div class="container">
		<div>
			

<%= image_tag person.photo.url + "?w=460&h=460&fit=thumb" %>
 
    

<%= person.location %>

<%= person.name %>
<%= person.short_biography %>

<%= person.facebook %>">
<%= person.website %>">
<%= person.email %>">
   


</div></section>

