---
title: Blog Archive
description: Blog
---

<!DOCTYPE html>
<html>
<head>
  <title> Movement - Blog</title>
</head>

<body>
<% posts = posts_and_videos %>

<!-- NAME & ARROW W RED BG -->
<section class="hero">
  <div class="container">
    <div class="main-message">
      <h1>Blog <i class="fas fa-arrow-down"></i></h1>
    </div>
  </div>
</section>


<!-- 1 FEATURE ARTICLE -->
<section class="learn_articles_full">
  <div class="container">
    <div class="blog_feature">
      <div> <!-- featured post -->
        <% posts.take(1).each do |index, post| %>
          <div><!--  class="post"> -->
            <% if post['_meta']['content_type_id'] == 'video' %>
              <%= partial "partials/download_video_item", :locals => { :video => post, :include_description => true } %>
            <% else %>
              <%= partial "partials/download_list_item", :locals => { :post => post, :include_excerpt => true } %>
            <% end %>
          </div> <!-- end post -->
        <% end %>
      </div> <!-- end feat post -->
    </div>
  </div>
</section>


<!-- DESCRIBE CATEGORIES -->
<section>
  <div class="container">
    <div class="blog_categories border_box">
      <div class="">
        <br>
        <h2>By Category</h2>
        <br>
        <div class="blog_grid">
          <div>
            <h3>Theology</h3>
            <p>Christians are becoming increasingly aware of the role the church in the city. Culture is formed in cities, they are centres of education, literature, the arts, music, film, television, other media and so much more. Learn more about a metanarrative that embraces a kingdom based theology.</p>
            <a href="/learn/theology.html"><button class="btn-white">Read More <i class="fas fa-chevron-right"></i></button></a>
          </div>
          <div>
            <h3>Stories</h3>
            <p>When Christians come together in humility and take responsibility God moves. Amazing stories are developing all around Australia</p>
            <a href="/learn/stories.html"><button class="btn-white">Read More <i class="fas fa-chevron-right"></i></button></a>
          </div>
          <div>
            <h3>Podcast</h3>
            <p>In the Love Your City Podcast presenters Sam Jackson and Letitia Shelton discuss the importance of gospel movements in towns and cities around the world.</p>
            <a href="/learn/podcast.html">
              <button class="btn-white">Listen 
                <i class="fas fa-chevron-right">
                </i>
              </button>
            </a>
          </div>

          <div>
            <h3>Videos</h3>
            <p>Watch our large range of conference content and more.</p>
            <a href="/learn/video.html"><button class="btn-white">Watch <i class="fas fa-chevron-right"></i></button></a>
          </div>
        </div>  
    </div>
  </div>
</section>


<!-- INSERT CONTENFUL  BLOG POSTS LIST -->
  <% if (posts.size > 0) %>
  <% first_post = posts.shift %>

  <% if (posts.size > 0) %>
    <section id="recent_posts" class="content_section recent_posts_full">
      <div class="content container">
        <div class="recent_posts">
          <span><h3 style="padding-bottom:0px; margin-bottom:0px;">Recent Posts</h3></span>
          <% posts.take(5).each do |index, post| %>
            <div class="post">
              <% if post['_meta']['content_type_id'] == 'video' %>
                <%= partial "partials/video_list_item", :locals => { :video => post, :include_description => true } %>
              <% else %>
                <%= partial "partials/post_list_item", :locals => { :post => post, :include_excerpt => true } %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div style="text-align:center;">
          <button class="btn-white" >
            <a href="./blog/archive.html">Read More  <i class="fas fa-chevron-right"></i></a>
          </button>
          
        </div>
      </div>
    </section>
  <% end %>
<% else %>
<% end %>


<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-chevron-up"></i></button>






<section>
  <div class="container">
    <div class="" style="border-bottom: 0px;">
    <!-- email sign up large w mockup -->
    <%= partial "partials/e_signup_lrg" %>
  </div></div>
</section>

</body>
</html>