---
title: Podcast | Resources
description: Movement Australia Podcast
---

<!DOCTYPE html>
<html>
<head>
  <title> Movement - Podcast</title>
</head>

<body>
<% podcasts = all_podcasts %>

<!-- NAME & ARROW W RED BG -->
<section class="hero">
  <div class="container">
    <div class="main-message">
      <h1>Podcast <i class="fas fa-arrow-down"></i></h1>
    </div>
  </div>
</section>





<!-- 1 FEATURE / MOST POPULAR EPISODE -->
<section>
  <div class="container">
    <div class="blog_feature">
      <br>
      <code>PODCAST
      - create rss <br>
      - create xml TBA <br>
      x layout previous episodes <br>
      x create single post template <br>
      </code>
      <br>


      <h3>Featured Episode</h3>
      
      <ul >
<code>Episode tagged popular ( _TC)</code>
          <% all_podcasts.take(1).each do |indx, podcast| %>
            <li class="post" >
              <%= partial "partials/podcast_list_item", :locals => { :podcast => podcast } %>
            </li>
          <% end %>
      </ul>
    </div>
  </div>
</section>


<!-- insert about this podcast from Tims code -->

<section id="md_welcome" >
    <div class="container border_box">
      <div class="">
        <% podcast_intro_cb = fetch_content_block('podcast-intro') %>
        <% if (!podcast_intro_cb.nil?) %>
          <h2><%= podcast_intro_cb.heading %></h2>
          <%= Markdown.new(!podcast_intro_cb.content.nil? ? podcast_intro_cb.content : "").to_html %>
        <% end %>
      </div>  

      <div id="podcast_overview">       
        <% podcast_overview_cb = fetch_content_block('podcast-overview') %>
          <% if (!podcast_overview_cb.nil?) %>
            <div>
              <h3><%= podcast_overview_cb.heading %></h3>
            </div>
            <div class="content">
              <%= Markdown.new(!podcast_overview_cb.content.nil? ? podcast_overview_cb.content : "").to_html %>  
            </div>
          <% end %>
      </div> 

    </div>
</section>


<section>
  <div class="container">
<!-- <code>ADD SECTION: copy in authors section from Blog.html</code> -->    
  </div>
</section>

<!-- INSERT FULL episode LIST -->
<section>
  <div class="container">
    <h3>Episodes</h3>
    <div>
      <ul class="recent_posts">
        <% all_podcasts.each do |indx, podcast| %>
          <li class="post">
            <%= partial "partials/podcast_list_item", :locals => { :podcast => podcast } %>
          </li>
        <% end %>
      </ul>
    </div>

    <code>
      [1] insert back to top <br>
      [2] stick to side of page. 

     </code>

    <div class="scroll_top" style="text-align: center;">
      <a href="#top">
          <button class="btn-white">Top <i class="fas fa-arrow-up"></i></button>
      </a>
    </div>


  </div>  
</section>






<!-- large signup -->
<section id="lrg_signup_podcast">
  <div class="container">
    <div class="" style="border-bottom: 0px;">
       <%= partial "partials/e_signup_lrg" %>
    </div>
  </div>
</section>

</body>
</html>