<section id="md_welcome">
  <header>
    <h1><%= podcast.title %></h1>
    <p class="dates"><%= podcast.episode_date.day %>  <%= Date::MONTHNAMES[podcast.episode_date.month] %> <%= podcast.episode_date.year %></p>
    <div class="player">
      <audio controls class="mejs__player">
        <source
            type="audio/mpeg"
            src="<%= podcast.audio_file.url %>"/>
        Your browser does not support the <code>audio</code> element.
      </audio>
    </div>
    <%# <p class="download">
      <a href="<%= podcast.audio_file.url >" class="button small">Download Episode</a>
    </p> %>
    <p class="download_meta">
      <small><%= friendly_duration(podcast.duration) %> &mdash; <%= podcast.audio_file_size %>kb</small>
    </p>
  </header>
  <a href="#podcast_content" class="scroll_to scroll_down">Scroll down</a>
</section>

<section id="podcast_content" class="content_section shorter">
  <div class="content">
    

    <h3>About the Episode</h3>
    <%= Markdown.new(!podcast.formatted_description.nil? ? podcast.formatted_description : "").to_html %>

    <p style="margin-top: 4em;"><a href="/resources/podcast.html" class="button smaller dark">View all Podcast episodes</a></p>    
  </div>
</section>